@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.fonts {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #032c72;
}

.wrapper {
  width: 85%;
  margin: 4rem auto;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 1rem 0;
}

.all-scores {
  border: 2px solid black;
}

.list-item {
  padding: 0.5rem;
}

.list-item:nth-child(even) {
  background-color: #032c725b;
}

.user-input,
form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
}

.user-input h2,
input {
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.btn {
  width: 20%;
  align-self: flex-end;
  padding: 0.2rem;
  background: transparent;
  cursor: pointer;
  border-radius: 0.2rem;
}

.btn:hover {
  background-color: #032c72;
  color: #fff;

}